* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

:root {
  background-color: #242424;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border: 1px solid black;
  border-radius: 8px;
}

button {
  cursor: pointer;
  padding: 0.5em;
  color: #212121;
  background-color: lightgrey;
  border: 1px solid white;
  border-radius: 10px;
  transition: all ease-in-out 150ms;
}

button:active {
  transform: translateY(1px);
  box-shadow: inset 3px 3px 5px black;
}

li {
  list-style: none;
}

label {
  display: flex;
  align-items: center;
  gap: 1em;
}

input {
  padding: 0.5em;
  background-color: rgb(100, 100, 100);
  color: white;
}

::-webkit-input-placeholder {
  color: rgb(255, 255, 255, 0.5);
}

option {
  appearance: none;
}

option.change-color-option:before {
  content: "";
  border-radius: 50%;
  width: fit-content;
  height: fit-content;
}

.app {
  width: 100vw;
  height: 100vh;
  padding: 3em 0 0;
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1em;
}

.app header {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 1em;
}

.add-tier,
.add-tile {
  margin: auto;
  display: flex;
  padding: 0.5em;
  gap: 1em;
}

.tier-section {
  background-color: rgb(133, 133, 133);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 80%;
  padding: 1em;
}

.tier-section header {
  width: 100%;
  display: flex;
  align-items: center;
}

.tiers {
  background-color: rgb(133, 133, 133);
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-radius: inherit;
  padding: 1em;
  width: 100%;
  max-height: 500px;
  overflow: auto;
}

.tier-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: #212121;
  border: 1px solid black;
  border-radius: inherit;
  box-shadow: 8px 8px 10px black;
  min-height: 100px;
  transition: all ease-in-out 150ms;
}

.tier-container header,
.tier-container footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto 0;
  background-color: #4b4b4b;
  color: white;
  min-height: 100%;
  height: fit-content;
  padding: 0.5em;
  transition: all ease-in-out 150ms;
}

[data-positon]::before {
  content: "";
  position: absolute;
  border-radius: inherit;
  height: 100%;
  width: 100%;
  z-index: 1000;
  transition: all ease-in-out 150ms;
}

[data-positon="before"]::before {
  box-shadow: inset 0 15px 10px cyan;
}
[data-positon="after"]::before {
  box-shadow: inset 0 -15px 10px cyan;
}

.tier-container header {
  cursor: grab;
  width: 7em;
  word-break: break-word;
  text-transform: capitalize;
  border-radius: 10px 0 0 10px;
}

.tier-container:has(:is(header:hover)) {
  border: 1px solid cyan;
}

.tier-container footer {
  position: relative;
  border-radius: 0 10px 10px 0;
  justify-content: space-around;
}

.footer-icon {
  cursor: pointer;
  transition: all ease-in-out 350ms;
}

.footer-icon:hover {
  color: white !important;
}

.customization-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -50%;
  left: -50%;
  opacity: 0;
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 10px;
  border: 1px solid black;
  padding: 1em;
  scale: 0;
  transition: all ease-in-out 150ms 100ms;
}

.cog-clicked {
  transform: rotate(90deg);
}

.custom-menu-animation {
  scale: 1;
  top: -50%;
  left: -350%;
  width: 150px;
  height: 150px;
  opacity: 1;
}

.tier-container .content {
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, 25%);
  font-size: 2rem;
  color: lightgrey;
  transition: all ease-in-out 100ms;
}

.has-children {
  justify-content: stretch !important;
  align-items: stretch !important;
}

.no-tiers,
.no-tiles {
  margin: auto;
  font-size: 2rem;
  color: lightgrey;
}

.tile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #343434;
  border-radius: 10px;
  gap: 1em;
  width: 80%;
  padding: 1em;
}

.tile-section header {
  width: 100%;
  display: flex;
  align-items: center;
}

.tiles {
  position: relative;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 20%);
  width: 100%;
  max-height: 300px;
  overflow: auto;
}

.tile-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position-y: center;
  background-position-x: center;
  cursor: grab;
  border: 2px solid black;
  background-size: cover;
  width: 100%;
  height: 100px;
  font-size: 2rem;
  text-transform: capitalize;
}

.tile-container img {
  height: 100%;
  width: 100%;
}
