@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  background-color: #242424;
  overflow-y: auto;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: black;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  background: white;
  border: 1px solid black;
  border-radius: 8px;
}

body {
  min-height: 100lvh;
  min-width: 100lvw;
}
body:has([data-open="true"]) .tiers {
  overflow: hidden;
}

button {
  cursor: pointer;
  padding: 0.5em;
  color: #212121;
  background-color: lightgrey;
  border: 1px solid white;
  border-radius: 10px;
  opacity: 0.7;
  transition: all ease-in-out 150ms;
}
button:not(:disabled):active {
  transform: translateY(1px);
  box-shadow: inset 3px 3px 5px black;
}
button:disabled {
  cursor: not-allowed;
}

li {
  list-style: none;
}

label {
  display: flex;
  align-items: center;
  color: lightgrey;
  font-size: 1.5em;
  gap: 0.3rem;
}

input {
  padding: 0.5em;
  background-color: rgb(100, 100, 100);
  color: white;
}
input::-webkit-input-placeholder {
  color: rgb(199, 199, 199);
}

select {
  width: 100%;
  border: none;
  box-shadow: inset 0 0 3px black;
  /* border: 1px solid black; */
  border-radius: 8px 8px 0 0;
  padding: 3px;
  text-transform: capitalize;
  transition: all ease-in-out 150ms;
}

select:active {
  box-shadow: inset 3px 3px 3px black;
}

option {
  padding: 1em;
  appearance: none;
  text-align: center;
  text-transform: capitalize;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  filter: invert(1);
  mix-blend-mode: difference;
}

.app {
  width: 100vw;
  height: 100vh;
  padding: 3em 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
}

.mobile-warning-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  inset: 0;
  z-index: 100;
}
.mobile-warning {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 200px;
  aspect-ratio: 1;
  background-color: lightgrey;
  border-radius: 8px;
  padding: 1rem;
}
.warning-closebtn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  height: 2rem;
  aspect-ratio: 1;
  font-size: 1.6rem;
  padding: 0;
  border: 1px solid black;
}
.mobile-warning > span {
  font-size: 1.2rem;
  text-align: center;
}

.tier-section {
  background-color: rgb(133, 133, 133);
  /* background-color: #343434; */
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 80%;
  padding: 1rem 1rem;
  gap: 1rem;
}

.tier-section > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.tiers {
  position: relative;
  background-color: rgb(133, 133, 133);
  background-color: transparent;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 16px;
  width: 100%;
  max-height: 480px;
  overflow-y: auto;
}

.tier-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 8px;
  /* box-shadow: 8px 8px 10px black; */
  min-height: fit-content;
  max-height: 210px;
  text-align: center;
  transition: all ease-in-out 150ms;
}

.presets-management {
  position: absolute;
  top: 2.5em;
  right: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 4em;
  z-index: 2;
}
.save-presets,
.load-presets {
  cursor: pointer;
  height: 4em;
  width: 4em;
  color: white;
  background-color: #212121;
  padding: 1em;
  border-radius: 50%;
  border: 1px solid white;
  transition: all ease-in-out 150ms;
}
.save-presets:active {
  box-shadow: inset 8px 8px 10px black;
}
.drop-area-overlay {
  background-color: rgb(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}
.drop-area {
  border: 3px dotted rgb(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  font-size: 2em;
  color: white;
  height: 50%;
  width: 50%;
  text-align: center;
}
.drop-area > input {
  display: flex;
  justify-content: center;
}
.close-drag-area {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  top: 1em;
  right: 1em;
  font-size: 4em;
  color: white;
  transition: all ease-in-out 150ms;
}
/* .close-drag-area:hover {
  scale: 1.5;
} */

.controls {
  display: flex;
  justify-content: space-between;
  justify-content: space-evenly;
  justify-content: space-around;
  gap: 1rem;
  height: 100%;
}

.tier-container .content {
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, 25%);
  font-size: 2rem;
  min-height: 100px;
  max-height: 100px;
  color: lightgrey;
  transition: all ease-in-out 100ms;
}

.tier-container .tile-container .content span {
  color: black;
}

.tier-container .has-children {
  justify-content: stretch;
  align-items: stretch;
  max-height: fit-content;
}

.tier-container > header,
.tier-container > footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4b4b4b;
  color: white;
  padding: 0.5em;
  transition: all ease-in-out 150ms;
}

.tier-container > header {
  cursor: grab;
  width: 7em;
  word-break: break-word;
  text-transform: capitalize;
  border-radius: 8px 0 0 8px;
  touch-action: none;
}

.tier-container footer {
  position: relative;
  border-radius: 0 8px 8px 0;
  justify-content: space-around;
}

.footer-icon {
  cursor: pointer;
  transition: all ease-in-out 350ms;
}

.cog-clicked {
  transform: rotate(90deg);
}

.customization-menu-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100dvh;
  width: 100dvw;
  background-color: rgba(0, 0, 0, 0.212);
}
.customization-menu {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 10px;
  border: 1px solid white;
  opacity: 0;
  scale: 0;
  /* width: 150px;
  height: 120px; */
  width: 200px;
  /* height: 200px; */
  aspect-ratio: 1.2;
  right: 10%;
  z-index: 100;
  transition: all ease-in-out 150ms 100ms;
}
.customization-menu input {
  border-radius: 0 0 8px 8px;
  width: 80%;
  height: 2rem;
}
.customization-menu input::-webkit-input-placeholder {
  color: rgb(255, 255, 255, 0.5);
  color: white;
  font-weight: 600;
  text-align: center;
}
.customization-menu .color-picker-toggler {
  border-radius: 8px 8px 0 0;
  width: 80%;
  height: 2rem;
  background-color: #212121;
  color: white;
}
.customization-controls {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.customization-controls button {
  background-color: #212121;
  color: white;
  font-weight: no;
}
.colors {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #212121cc;
  z-index: 101;
}

.tiers,
.tiles {
  min-height: 75px;
}

.no-tiers,
.no-tiles {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  font-size: 2rem;
  color: white;
}

.tile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #343434;
  border-radius: 10px;
  gap: 2em;
  width: 80%;
  padding: 1em;
}

.tile-section > header {
  min-width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.tile-section > header .inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.inputs > span {
  color: white;
}

.tiles {
  position: relative;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 20%);
  width: 100%;
  max-height: 300px;
  overflow: auto;
}

.tile-container {
  cursor: grab;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  /* Needed to cater for long names*/
  word-break: break-word;
  text-align: center;

  background-position-y: center;
  background-position-x: center;
  border: 1px solid black;
  background-size: cover;
  width: 100%;
  height: 100px;
  font-size: 2rem;
  text-transform: capitalize;
  touch-action: none;
}
.tile-container > img {
  height: 100%;
  width: 100%;
}

.tier-section > header,
.tile-section > header {
  display: flex;
  justify-content: center;
  min-width: fit-content;
}

.touch-ghost {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  font-size: 2rem;
  position: absolute;
  opacity: 0.5;
  background-color: lightgrey;
}

.dot {
  position: absolute;
  background-color: red !important;
  border-radius: 50%;
}

@media (hover: hover) {
  ::-webkit-scrollbar-track:hover {
    background: white;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: grey;
  }
  button:not(:disabled):hover {
    opacity: 1;
    border: 1px solid black;
  }
  .save-presets:hover,
  .load-presets:hover {
    color: #212121;
    translate: 0 -5px;
    box-shadow: none;
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;
  }
  .close-drag-area:hover {
    scale: 1.5;
  }
  .footer-icon:hover {
    color: white !important;
  }
}

@media screen and (max-width: 1150px) {
  label {
    display: flex;
    flex-direction: column;
  }

  .controls {
    flex-direction: column;
  }

  .presets-management {
    right: 0.5rem;
  }

  .tier-container .content > span {
    font-size: 1.2rem;
    width: 100%;
    /* background-color: red; */
    white-space: nowrap;
    translate: -2rem 0;
  }

  .drop-area {
    width: 80%;
  }

  .close-drag-area {
    top: 1rem;
    right: 2rem;
  }
}

@media screen and (max-width: 600px) {
  ::-webkit-scrollbar {
    width: 0px;
  }

  .app {
    padding: 0;
    justify-content: space-between;
    gap: 0;
  }

  header label > input {
    width: 7rem;
  }

  .presets-management {
    top: 1rem;
    right: 0.5rem;
    flex-direction: row;
    width: fit-content;
  }
  .save-presets,
  .load-presets {
    --size: 2.5rem;
    padding: 0.5rem;
    height: var(--size);
    width: var(--size);
  }

  .tiers {
    padding: 0.1rem;
  }

  .tier-section,
  .tile-section {
    border-radius: 0;
    width: 100%;
  }
  .tier-section {
    height: 57%;
  }
  .tile-section {
    height: 43%;
    padding: 0 1rem;
  }

  .tier-section > header,
  .tile-section > header {
    padding: 1rem 0 0;
    min-width: 50%;
    width: 100%;
    flex-direction: column;
    /* align-items: flex-start; */
  }
  .tier-section > header > .controls,
  .tile-section > header > .controls {
    flex-direction: row;
  }
  .tier-section > header > label {
    align-self: flex-start;
    margin-left: 20%;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
    background-color: red;
  }
  .tile-section > header .inputs {
    width: 80%;
  }

  .tiles {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    min-height: 130px;
    overflow-x: auto;
    background-color: lightslategrey;
    background-color: lightgrey;
    background-color: #292929;
  }
  .tiles::-webkit-scrollbar {
    height: 0;
  }

  .swipe-section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    position: absolute;
    top: 0;
    left: 10vw;
    right: 10vw;
    height: 30px;
    color: white;
  }

  .tiers {
    background-color: #292929;
  }
  .tier-container {
    max-height: fit-content;
  }

  .tier-container .content {
    grid-template-columns: repeat(auto-fit, 33.333333%);
    max-height: fit-content;
  }

  .tile-container {
    min-width: 100px;
    max-width: 100px;
    font-size: 1rem;
    height: 100px;
    overflow: hidden;
  }
  .tile-container[data-long-entry="true"] {
    align-items: flex-start;
    overflow-y: auto;
  }
  .tile-container > span {
    text-align: center;
    padding: 0.5rem;
    max-width: 5rem;
    overflow-wrap: break-word;
  }

  .tier-container .tile-container {
    min-width: 100%;
    max-width: 100%;
  }

  .customization-menu-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.212);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .customization-menu {
    width: fit-content;
    /* height: 200px; */
    aspect-ratio: 1.2;
    right: 15%;
  }
  .customization-menu .color-picker-toggler {
    border: 1px solid black;
    font-size: 1rem;
    height: 2rem;
  }
  .customization-menu input {
    border: 1px solid black;
    border-radius: 0 0 8px 8px;
    width: 80%;
    height: 2rem;
  }
  .customization-menu button {
    border: 1px solid black;
  }
}
